*{
  margin: 0%;
  padding: 0%;
  font-family: 'Poppins', sans-serif; 
  border: box;
}
.container{
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  background: linear-gradient(blue, red, green);
}
.todo-app{
  width: 100%;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  background-color: white;
  border-radius: 10px;
  max-width: 540px;
}
.todo-app h2{
  color: #002765;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
}
.todo-app h2 img{
  display: flex;
  width: 100px;
  margin-left: 10px;
}
.row {
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
  align-items: center;
}
input{
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  background: transparent;
}
button{
  outline: none;
  padding: 16px 30px;
  color: #fff;
  font-size: 16px;
  border-radius: 40px;
  border: none;
  border-color: lightgrey;
  cursor: pointer;
}
ul li{
  font-size: 18px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  list-style: none;
  position: relative;
}
ul li::before{
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  top: 8px;
  left: 8px;
  content: none;
  background-image: url("https://cdn4.iconfinder.com/data/icons/cc_mono_icon_set/blacks/48x48/checkbox_unchecked.png");
}
ul li.checked{
  color: #1c1a1a;
  text-decoration-line: line-through;
}
ul li.checked::before{
  background-image: url("https://cdn4.iconfinder.com/data/icons/fluent-solid-20px-vol-2/20/ic_fluent_checkbox_checked_20_filled-512.png");

}
ul li span{
  position: absolute;
  right: 0;
  top: 10px;
  width: 40px;
  height: 40px;
  font-size: 25px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}
ul li span:hover{
  background: #edeef0;
}